<div class="wrapper">
    <div class="header">
        <app-header></app-header>
    </div>

    <div class="contain-holder">
        <div class="title">Which of the following best describes your accommodation?</div>
        <div class="sub-title">You can change this price at any time.</div>
        <div style="display: flex;">
            <div class="price">$14</div>
            <img src="assets/icons/owner-form/edit.png" alt="">
        </div>
        <div class="item-frame">
            <div class="text-wrapper">
                <div>Guest rates (before tax)</div>
                <div class="text-bold">$24</div>
            </div>
        </div>
        <div class="item-frame">
            <div class="text-wrapper">
                <div>Base price</div>
                <div class="text-bold">$14</div>
            </div>
            <div class="text-wrapper">
                <div>Host Service Fee</div>
                <div class="text-bold">$10</div>
            </div>
            <hr>
            <div class="text-wrapper">
                <div class="text-bold">Guest rates (before tax)</div>
                <div class="text-bold">$34</div>
            </div>
        </div>
    </div>

    <div>
        <div>
            <app-footer-step-three></app-footer-step-three>
        </div>
        <div class="btn-wrapper">
            <button class="back-btn" routerLink="/owner/post/add/step3-1">Back</button>
            <button class="next-btn" routerLink="/owner/post/add/step3-3">Continue</button>
        </div>
    </div>
</div>