<div class="modal-header">
  <h3 class="mb-0 fw-bold">Booking</h3>
  <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()"></button>
</div>

<div class="modal-body">
  <div class="d-flex gap-4 p-3">
    <div class="d-flex flex-column justify-content-between">
      <div class="reservation-information">
        <h5 class="fw-bold">Your trip</h5>
        <div class="d-flex flex-column gap-2">
          <div class="room-code">
            <p class="fw-bold">Code Room</p>
            <p>#Room1</p>
          </div>
          <div class="reservation-detail">
            <p class="fw-bold">Day</p>
            <div>
              <span>December 10 - 15, 2023</span>
              <button (click)="openEditTimeModal()">Edit</button>
            </div>
          </div>
          <div class="reservation-detail">
            <p class="fw-bold">Guest</p>
            <div>
              <span>1 Guest</span>
              <button (click)="openEditGuestNumberModal()">Edit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="payment-option-list">
        <h5 class="fw-bold">Payment method</h5>
        <div class="d-flex gap-3">
          <button class="payment-item btn btn-outline-secondary"><img src="assets/icons/vnpay.png" /></button>
          <button class="payment-item btn btn-outline-secondary"><img src="assets/icons/momo.png" /></button>
          <button class="payment-item btn btn-outline-secondary"><img src="assets/icons/visa.png" /></button>
        </div>
      </div>
      <div class="general-standard">
        <h5 class="fw-bold">General standards</h5>
        <p>
          We ask all guests to remember a few simple rules to be a great
          guest.
        </p>
        <ul>
          <li>Comply with house rules</li>
          <li>Maintain the house as if it were your home</li>
        </ul>
      </div>
      <button class="btn mx-auto fw-bold submit-button" type="button">
        Submit
      </button>
    </div>
    <div class="payment-information">
      <img src="assets/images/room.jpg" />
      <p class="mt-2 text-center">
        Quynh's entire home-right in the heart of Can Tho
      </p>
      <h5 class="fw-bold">Price details</h5>
      <div class="d-flex justify-content-between information">
        <span>$14 x 4 night </span><span> $56</span>
      </div>
      <div class="d-flex justify-content-between information">
        <span>Cleaning fee </span><span> $2</span>
      </div>
      <div class="d-flex justify-content-between information">
        <span>FoxHub service fees </span><span> $10</span>
      </div>
      <hr />
      <div class="d-flex justify-content-between information fw-bold">
        <span>(USD)</span><span>$68</span>
      </div>
    </div>
  </div>
</div>