<h2>
    Adventure on your way
</h2>
<div class="container-fluid d-flex flex-column adventure-content">
    <div class="row row-cols-3 g-4">
        <div class="col">
            <img src="assets/mock/h1.jpg" alt="Random first slide" />
        </div>
        <div class="col">
            <img src="assets/mock/h1.jpg" alt="Random first slide" />
        </div>
        <div class="col">
            <img src="assets/mock/h1.jpg" alt="Random first slide" />
        </div>

    </div>
    <div class="row row-cols-4 g-4">
        <div class="col">
            <img src="assets/mock/h1.jpg" alt="Random first slide" />
        </div>
        <div class="col">
            <img src="assets/mock/h1.jpg" alt="Random first slide" />
        </div>
        <div class="col">
            <img src="assets/mock/h1.jpg" alt="Random first slide" />
        </div>
        <div class="col">
            <img src="assets/mock/h1.jpg" alt="Random first slide" />
        </div>
    </div>
</div>