<app-header-nav-bar></app-header-nav-bar>
<header>
<h4>Blog</h4>
<div class="line"></div>
    <div class="btn-group filter" role="group">
        <button type="button" class="btn">All</button>
        <button type="button" class="btn">Journey</button>
        <button type="button" class="btn">Experience</button>
        <button type="button" class="btn">Culture and Cuisine</button>
    </div>
    <h1>UNLOCK VIETNAM</h1>
    <h5 class="letgo">Let's go...</h5>
</header>    


<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-between align-items-center">
            <div class="title-last-news">
                Lastest New
            </div>
            <button class="button-post">Post</button>
        </div>
    </div>
</div>




<div class="container mt-5">
    <div class="row d-flex align-items-stretch">
        <div class="col-md-6 flex-fill">
            <div class="card">
                <img src="assets/images/part-four-of-last-new.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="author">Olivia Rhye • 1 Jan 2023</p>
                    <h4 class="card-title-last-new">The Top 11 Things to Do in Sapa, Vietnam</h4>
                    <p class="card-text-main-last-new">Sapa, situated in the northern part of Vietnam, is renowned for its captivating landscapes, cultural diversity, and unique experiences. This charming destination beckons travelers with a myriad of attractions...See More</p>
                    <div class="tag-travel">
                    <button type="button" class="btn btn-primary">
                        #Travel Website
                      </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 flex-fill">
            <div class="card flex-row">
                <div class="card-img-left">
                    <img class="img-of-last-new" src="assets/images/part-three-of last-new.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">10,000 people admire the shimmering Ngo Mon in the night</h5>
                    <p class="card-text">More than 10,000 people flocked to Ngo Mon Square to admire the sparkling
                        ancient capital symbol during the light show night by artists ... See More</p>
                </div>
            </div>
            <div>
                <div class="card flex-row mt-3">
                    <div class="card-img-left">
                        <img class="img-of-last-new" src="assets/images/part-one-of-last-new.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Vietnam in the top 22 best cuisines in the world</h5>
                        <p class="card-text">Vietnam ranks 22nd in the list of 100 best cuisines in the world voted by
                            culinary experts, chefs and international guests.

                            On December 13, Taste Atlas released its list of 100 Best Cuisines ... See More</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="card flex-row mt-3">
                    <div class="card-img-left">
                        <img class="img-of-last-new" src="assets/images/part-two-of-last-new.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Hanoi, Ho Chi Minh City in the top 100 cities in the world 2023</h5>
                        <p class="card-text">Boats full of fruit and vegetables head to Cai Rang floating market. Read
                            more
                            about Cai Rang Floating Market.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="card flex-row">
                <div class="card-img-center">
                    <img class="hanoi" src="assets/images/part-center.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Da Nang International Terminal is certified to welcome Chinese passengers
                    </h5>
                    <p class="card-text">Da Nang International Terminal (Terminal T2) is rated Gold - the highest of the
                        3 Silk, Jade, Gold grades of the Welcome Chinese certificate of China Tourism Academy, a
                        Beijing-based research organization, established in 2008, under the National Tourism
                        Administration of China.

                        Da Nang International Terminal is the first in Southeast Asia to be granted the above
                        certification. There are 11 criteria Danang International Terminal has met according to Welcome
                        Chinese certification. The first is that the signage inside and outside the station is written
                        in Chinese, in addition to Vietnamese, English, Korean.</p>
                </div>
            </div>
        </div>

    </div>

</div>


<div class="container mt-5">
    <div class="row d-flex ">
        <div class="col-md-8 ">
            <div class="card flex-row ">
                <div class="card-img-left">
                    <img class="img-of-last-new" src="assets/images/part-three-of last-new.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">10,000 people admire the shimmering Ngo Mon in the night</h5>
                    <p class="card-text">More than 10,000 people flocked to Ngo Mon Square to admire the sparkling
                        ancient capital symbol during the light show night by artists ... See More</p>
                </div>
            </div>
            <div>
                <div class="card flex-row mt-5">
                    <div class="card-img-left">
                        <img class="img-of-last-new" src="assets/images/part-three-of last-new.jpg"
                            alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">10,000 people admire the shimmering Ngo Mon in the night</h5>
                        <p class="card-text">More than 10,000 people flocked to Ngo Mon Square to admire the sparkling
                            ancient capital symbol during the light show night by artists ... See More</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="card flex-row mt-5">
                    <div class="card-img-left">
                        <img class="img-of-last-new" src="assets/images/part-three-of last-new.jpg"
                            alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">10,000 people admire the shimmering Ngo Mon in the night</h5>
                        <p class="card-text">More than 10,000 people flocked to Ngo Mon Square to admire the sparkling
                            ancient capital symbol during the light show night by artists ... See More</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="card flex-row mt-5">
                    <div class="card-img-left">
                        <img class="img-of-last-new" src="assets/images/part-three-of last-new.jpg"
                            alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">10,000 people admire the shimmering Ngo Mon in the night</h5>
                        <p class="card-text">More than 10,000 people flocked to Ngo Mon Square to admire the sparkling
                            ancient capital symbol during the light show night by artists ... See More</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="card flex-row mt-5">
                    <div class="card-img-left">
                        <img class="img-of-last-new" src="assets/images/part-three-of last-new.jpg"
                            alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">10,000 people admire the shimmering Ngo Mon in the night</h5>
                        <p class="card-text">More than 10,000 people flocked to Ngo Mon Square to admire the sparkling
                            ancient capital symbol during the light show night by artists ... See More</p>
                    </div>
                </div>
            </div>
            <div class="pagination-container">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="popular-post">
                <h3 class="title-popular-post">Popular Post</h3>
                <div class="row">
                    <div class="col-md-3 ">
                        <img class="img-of-under" src="assets/images/cairang-market.jpg" alt="Card image cap">
                    </div>
                    <div class="col-md-9 ">
                        <h5 class="card-title-under">Cai Rang Floating Market - Mekong Delta, Vietnam</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mt-2 ">
                        <img class="img-of-under" src="assets/images/cairang-market.jpg" alt="Card image cap">
                    </div>
                    <div class="col-md-9 mt-2">
                        <h5 class="card-title-under">Cai Rang Floating Market - Mekong Delta, Vietnam</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mt-2 ">
                        <img class="img-of-under" src="assets/images/cairang-market.jpg" alt="Card image cap">
                    </div>
                    <div class="col-md-9 mt-2">
                        <h5 class="card-title-under">Cai Rang Floating Market - Mekong Delta, Vietnam</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mt-2 ">
                        <img class="img-of-under" src="assets/images/cairang-market.jpg" alt="Card image cap">
                    </div>
                    <div class="col-md-9 mt-2 ">
                        <h5 class="card-title-under">Cai Rang Floating Market - Mekong Delta, Vietnam</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mt-2">
                        <img class="img-of-under" src="assets/images/cairang-market.jpg" alt="Card image cap">
                    </div>
                    <div class="col-md-9 mt-2 ">
                        <h6 class="card-title-under">Cai Rang Floating Market - Mekong Delta, Vietnam</h6>
                    </div>
                </div>
            </div>
            <div class="follow">
                <h3 class="title"> Follow FoxHub</h3>
                <ul class="social-icons">
                    <li><a href="#" target="_blank"><img src="facebook-icon.png" alt="Facebook"></a></li>
                    <li><a href="#" target="_blank"><img src="instagram-icon.png" alt="Instagram"></a></li>
                    <li><a href="#" target="_blank"><img src="tiktok-icon.png" alt="TikTok"></a></li>
                </ul>
            </div>
            <div>
                <form>
                    <h3 class="title-subscribre">Subscribe today</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed et donec purus viverra. Sit justo
                    </p>

                    <div class="mb-3">
                        <label for="fullName" class="form-label">Full Name</label>
                        <input type="text" class="form-control" id="fullName" aria-describedby="nameHelp">
                        <div id="nameHelp" class="form-text">Enter your full name.</div>
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Your Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>

                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">You agree to our company privacy
                            policy</label>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
            <div class="container-tag">
                <div class="row">
                    <h3 class="title-tag">Tags</h3>
                    <div class="col-md-4">

                        <div>
                            <p>Travel Website</p>
                            <p>Travel Website</p>
                            <p>Travel Website</p>
                            <p>Travel Website</p>
                            <p>Travel Website</p>
                            <p>Travel Website</p>
                        </div>
                    </div>

                    <div class="col-md-4">

                        <div>
                            <p>Travel Tips</p>
                            <p>Travel Tips</p>
                            <p>Travel Tips</p>
                            <p>Travel Tips</p>
                            <p>Travel Tips</p>
                            <p>Travel Tips</p>
                        </div>
                    </div>

                    <div class="col-md-4">

                        <div>
                            <p>Travel Trick</p>
                            <p>Travel Trick</p>
                            <p>Travel Trick</p>
                            <p>Travel Trick</p>
                            <p>Travel Trick</p>
                            <p>Travel Trick</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function moveSlider(index) {
        const navLinks = document.querySelectorAll('.nav-link');
        const activeLink = navLinks[index];

        navLinks.forEach(link => {
            link.classList.remove('active');
        });

        activeLink.classList.add('active');
    }
</script>