<div class="wrapper">
    <div class="header">
        <app-header></app-header>
    </div>

    <div class="contain-holder">
        <div class="title">Add a discount (optional)</div>
        <div class="item-frame">
            <div class="text-wrapper">
                <div class="percent">20%</div>
                <div class="subtext-wrapper">
                    <div class="text-bold">Promotion for new houses/rooms for rent</div>
                    <div>20% discount on your first 3 bookings</div>
                </div>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" style="width: 30px; height: 30px;"
                    id="checkbox1" value="option1">
            </div>
        </div>
        <div class="item-frame">
            <div class="text-wrapper">
                <div class="percent">10%</div>
                <div class="subtext-wrapper">
                    <div class="text-bold">Weekly discounts</div>
                    <div>For stays of 7 nights or more</div>
                </div>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" style="width: 30px; height: 30px;"
                    id="checkbox1" value="option1">
            </div>
        </div>
        <div class="item-frame">
            <div class="text-wrapper">
                <div class="percent">20%</div>
                <div class="subtext-wrapper">
                    <div class="text-bold">Monthly discounts</div>
                    <div>For stays of 28 nights or more</div>
                </div>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" style="width: 30px; height: 30px;"
                    id="checkbox1" value="option1">
            </div>
        </div>
    </div>

    <div>
        <div>
            <app-footer-step-three></app-footer-step-three>
        </div>
        <div class="btn-wrapper">
            <button class="back-btn" routerLink="/owner/post/add/step3-2">Back</button>
            <button class="next-btn" routerLink="/owner/post/add/step3-4">Continue</button>
        </div>
    </div>
</div>