<div class="wrapper">
    <div class="header">
        <app-header></app-header>
    </div>

    <div class="contain-holder">
        <div class="title">Complete!</div>
        <div class="img-wrapper">
            <div class="left">
                <img src="assets/images/owner-form/sample1.jpg" class="image-large"/>
            </div>
            <div class="right">
                <div class="img-row">
                    <div class="img-small">
                        <img src="assets/images/owner-form/sample2.jpg">
                    </div>
                    <div class="img-small">
                        <img src="assets/images/owner-form/sample3.jpg">
                    </div>
                </div>
                <div class="img-row">
                    <div class="img-small">
                        <img src="assets/images/owner-form/sample4.jpg"/>
                    </div>
                    <div class="img-small">
                        <img src="assets/images/owner-form/sample5.jpg"/>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="add-photo">
            <button> + Add a photo </button>
        </div>
    </div>

    <div>
        <div>
            <app-footer-step-two></app-footer-step-two>
        </div>
        <div class="btn-wrapper">
            <button class="back-btn" routerLink="/owner/post/add/step2-3">Back</button>
            <button class="next-btn" routerLink="/owner/post/add/step3-1">Continue</button>
        </div>
    </div>
</div>