<div class="wrapper">
    <div class="header">
        <app-header></app-header>
    </div>

    <div class="contain-holder">
        <div class="title">Which of the following best describes your accommodation?</div>
        <br>
        <form action="#">
            <input type="button" name="accommodation" value="Local House">
            <input type="button" name="accommodation" value="Homestay">
            <br>
            <input type="button" name="accommodation" value="Hotel">
            <input type="button" name="accommodation" value="Villa">
            <input type="button" name="accommodation" value="Apartment">
        </form>
    </div>

    <div>
        <div>
            <app-footer-step-one></app-footer-step-one>
        </div>
        <div class="btn-wrapper">
            <button class="back-btn" routerLink="/owner/post/add/step1-1">Back</button>
            <button class="next-btn" routerLink="/owner/post/add/step1-3">Continue</button>
        </div>
    </div>
</div>