p {
    margin: 0;
}

.item-address {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif; 
    font-weight: bold;
}

.item-address span {
    display: inline-flex;
    gap: 8px;
}

.item-address span i {
    display: flex;
    align-items: center;
}
.item-price{
    font-weight: bold;
}