<nav>
    <a class="logo" href="#">
        <img src="/Header/logo.png"  height="50" alt="">
    </a>
    <ul class ="menu">
        <li>
           <a href="#"> FoxHub's Story</a>
        </li>
        <li>
            <a href="#"> Reservation</a>
        </li>
        <li>
            <a href="#"> Home Service</a>
        </li>
        <li>
            <a href="#">Blog</a>
        </li>
    </ul>
    <form>
        <button class="login" type="button">Log in</button>
        <button class="signup" type="button">Sign up</button>
    </form>
</nav>