<div class="wrapper">
    <div class="header">
        <app-header></app-header>
    </div>

    <div class="contain-holder">
        <div class="title">Which of the following best describes your accommodation?</div>
        <div class="item-group">
            <div class="item-row">
                <div class="frame">
                    <img src="assets/icons/owner-form/wifi.png"/>
                    <div class="item-name"> Wifi </div>
                </div>
                <div class="frame">
                    <img src="assets/icons/owner-form/tv.png"/>
                    <div class="item-name"> TV </div>
                </div>
                <div class="frame">
                    <img src="assets/icons/owner-form/kitchencooker.png"/>
                    <div class="item-name"> Kitchen </div>
                </div>
            </div>
            <div class="item-row">
                <div class="frame">
                    <img src="assets/icons/owner-form/car.png"/>
                    <div class="item-name"> Parking </div>
                </div>
                <div class="frame">
                    <img src="assets/icons/owner-form/ac.png"/>
                    <div class="item-name"> Air Conditioner </div>
                </div>
                <div class="frame">
                    <img src="assets/icons/owner-form/washer.png"/>
                    <div class="item-name"> Washer </div>
                </div>
            </div>
            <div class="item-row">
                <textarea placeholder="Other" class="other"></textarea>
            </div>
        </div>
    </div>

    <div>
        <div>
            <app-footer-step-two></app-footer-step-two>
        </div>
        <div class="btn-wrapper">
            <button class="back-btn" routerLink="/owner/post/add/step2-1">Back</button>
            <button class="next-btn" routerLink="/owner/post/add/step2-3">Continue</button>
        </div>
    </div>
</div>