<div class="sidebar">
    <div class="logo-group">
        <div class="logo-wrapper">
            <img src="assets/images/logo-nobg.png" alt="logo" class="icon" />
        </div>
        <div class="brand-name">FoxHub</div>
    </div>
    <div class="profile">
        <div class="profile-wrapper">
            <img src="assets/icons/sidebar-profile.png" alt="">
        </div>
        <div class="profile-text">
            <p>Welcome,</p>
            <p><b>Staff Name</b></p>
        </div>
    </div>
    <hr>
    <ul>
        <li>
            <a href="#">
                <div class="img-wrapper">
                    <img src="assets/icons/sidebar-home.png" alt="" class="icon">
                </div>
                <p>Home</p>
            </a>
        </li>
        <li class="noti">
            <a href="#">
                <div class="img-wrapper">
                    <img src="/assets/icons/sidebar-dash.png" alt="">
                </div>
                <p>Dashboard</p>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="img-wrapper">
                    <img src="/assets/icons/sidebar-service.png" alt="">
                </div>
                <p>Customer Service</p>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="img-wrapper">
                    <img src="/assets/icons/sidebar-setting.png" alt="">
                </div>
                <p>Settings</p>
            </a>
        </li>

    </ul>
</div>


<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>