<div class="wrapper">
    <div class="header">
        <app-header></app-header>
    </div>

    <div class="contain-holder">
        <div class="title">Which of the following best describes your accommodation?</div>
        <div class="sub-title">You will at least 1 photo to get started. You can still post more or change photos later.</div>
        <div class="frame">
            <img class="icon" src="assets/icons/owner-form/add-photo.png"/>
            <div> Drag your photos here 
                <br>Select at least 1 photo
            </div>
            <input type="file" class="upload" placeholder="Upload from your devide"> 
        </div>
    </div>

    <div>
        <div>
            <app-footer-step-two></app-footer-step-two>
        </div>
        <div class="btn-wrapper">
            <button class="back-btn" routerLink="/owner/post/add/step2-2">Back</button>
            <button class="next-btn" routerLink="/owner/post/add/step2-4">Continue</button>
        </div>
    </div>
</div>