:host {
    width: 48%;
}

.map {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 45px;
    border: 1px #DDDDDD solid;
    height: 90%;
}

h2 {
    margin: 0;
    color: #BF6326;
    font-family: Inter;
}

hr {
    border: 1px #BEBEBE solid;
    margin: 8px 0;
}