<div class="image-container">
  <img src="assets/images/avatar.png" />
</div>
<div class="save-avatar">
  <input type="reset" value="Cancel" class="cancel" /> &nbsp;
  <input type="submit" value="Save" class="save" />
</div>

<div class="section">
  <div class="container">
    First Name <input type="text" id="firstname" class="firstname" />
  </div>
</div>
<div class="section">
  <div class="container">
    Last Name <input type="text" id="lastname" class="lastname" />
  </div>
</div>
<div class="section">
  <div class="container">
    Phone <input type="number" id="phone" class="phone" />
  </div>
</div>
<div class="section">
  <div class="container">
    Email <input type="email" id="email" class="email" />
  </div>
</div>
<div class="section">
  <div class="container">
    D.O.B <input type="date" id="dateofbirth" class="dateofbirth" />
  </div>
</div>
<div class="section">
  <div class="container">
    Language
    <select id="language">
      <option value="english">English</option>
      <option value="chinese">Chinese</option>
      <option value="french">French</option>
      <option value="vietnamese">Vietnamese</option>
    </select>
  </div>
</div>
<div class="section">
  <div class="container">
    Occupation <input type="text" id="occupation" class="occupation" />
  </div>
</div>
<div class="section">
  <div class="container">
    Nationality <input type="text" id="nationality" class="nationality" />
  </div>
</div>

<div>
  <input type="reset" value="Cancel" class="cancel" />
  &nbsp;
  <input type="submit" value="Save" class="save" />
</div>
