<!-- Modal Header -->
<div class="modal-header">
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      (click)="closeModal()"
    ></button>
  </div>
  
  <!-- Modal body -->
  <div class="modal-body">
    <div class="container">
      <form class="row mx-auto">
        <div class="col-6 custom-col">
          <div class="input-group">
            <input
              #dpFromDate
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dpFromDate"
              [value]="formatter.format(fromDate)"
              (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
            />
          </div>
        </div>
        <div class="col-6 custom-col">
          <div class="input-group">
            <input
              #dpToDate
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dpToDate"
              [value]="formatter.format(toDate)"
              (input)="toDate = validateInput(toDate, dpToDate.value)"
            />
          </div>
        </div>
      </form>
      <!-- Chỉnh 1 hay 2 lịch -->
      <ngb-datepicker
        #dp
        (dateSelect)="onDateSelection($event)"
        [dayTemplate]="t"
        outsideDays="hidden"
        [displayMonths]="2"
      />
  
      <ng-template #t let-date let-focused="focused">
        <span
          class="custom-day"
          [class.focused]="focused"
          [class.range]="isRange(date)"
          [class.faded]="isHovered(date) || isInside(date)"
          (mouseenter)="hoveredDate = date"
          (mouseleave)="hoveredDate = null"
        >
          {{ date.day }}
        </span>
      </ng-template>
    </div>
  </div>
  
  <!-- Modal footer -->
  <div class="modal-footer">
    <button
      type="button"
      class="close-button btn font-weight-bold btn-outline-dark"
      data-bs-dismiss="modal"
      (click)="DeleteDate()"
    >
      Delete Date
    </button>
    <button
      type="button"
      class="save-button btn font-weight-bold"
      data-bs-dismiss="modal"
    >
      Save
    </button>
  </div>
  