<h3 class="mb-3 fw-bold">
  Quynh's entire home-right in the heart of Can Tho
</h3>
<div class="row mb-3">
  <div class="col-7">
    <ngb-carousel class="rounded-carousel">
      <ng-template ngbSlide *ngFor="let image of images">
        <div class="picsum-img-wrapper">
          <img [src]="image" alt="Random first slide" />
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="col-5">
    <iframe class="map" width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
      src="https://www.google.com/maps/embed">
    </iframe>
  </div>
</div>
<div class="row mb-3">
  <div class="col-7">
    <div>
      <p>
        We warmly welcome our guests with enthusiasm and genuine hospitality.The
        homestay offers convenience, fully furnished amenities, tranquility, and
        is located right in the city center, just a 5-minute walk from Ninh Kieu
        Pier, a must-visit destination in Can Tho. Close to the night market and
        authentic local restaurants offering specialties from the Mekong Delta.
      </p>
      <h5 class="mb-4 show-more">Show more</h5>
    </div>
    <div>
      <h3 class="mb-3 fw-bold">Code Room</h3>
      <div class="d-flex flex-wrap gap-3">
        <button class="btn btn-outline-secondary" *ngFor="let room of rooms">{{ room }}</button>
      </div>
    </div>
  </div>
  <div class="col-5">
    <button class="btn mx-auto fw-bold book-button" type="button" (click)="openPaymentFormModal()">
      BOOK NOW
    </button>
  </div>
</div>