<div class="search-container">
  <input
    type="text"
    class="form-control rounded-0"
    placeholder="Search accommodations by name or ID"
    [(ngModel)]="searchTerm"
  />
  <button
    class="btn btn-outline-secondary rounded-0 button-search"
    type="button"
    (click)="applyFilter()"
  >
    <i class="bi bi-search"></i>
  </button>
</div>
<div class="table-container">
  <table class="accommodation-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Owner Name</th>
        <th>Latitude & Longitude</th>
        <th>Date Apply</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let accommodation of accommodations | idFilter : searchTerm">
        <td>{{ accommodation.id }}</td>
        <td>{{ accommodation.ownerName }}</td>
        <td>{{ accommodation.latitude }} & {{ accommodation.longitude }}</td>
        <td>24/12/2023</td>
        <td>
          <div [ngClass]="getStatusClass(accommodation.status)">
            {{ accommodation.status | uppercase }}
          </div>
        </td>
        <td>
          <img
            src="assets/icons/edit.png"
            alt="edit-icon"
            [routerLink]="['/staff/accommodation-detail/', accommodation.id]"
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>
