.table-container {
  padding-left: 12px;
  padding-right: 12px;
  border: 2px solid black; /*TODO: Delete after completing*/
  border-radius: 20px;
  margin: 20px;
  width: 1200px; /*TODO: Adjust to fit the user's screen?*/
  max-height: 290px; /*TODO: Adjust to fit the user's screen?*/
  overflow-y: scroll;
}
.accommodation-table {
  width: 100%;
  border-collapse: collapse;
}
.accommodation-table thead {
  position: sticky;
  top: 0;
  background-color: #fff;
}
.accommodation-table thead th {
  text-align: center;
  padding: 28px;
  color: #bf6326;
}
.accommodation-table tbody td {
  padding: 28px;
  text-align: center;
}
.accommodation-table tbody td img {
  width: 20px;
  height: 20px;
}
.accommodation-table tbody tr:nth-child(even) {
  background-color: #f0efef;
}
.accommodation-table tbody tr:nth-child(odd) {
  background-color: white;
}
.table-container::-webkit-scrollbar {
  display: none;
}
.status-pending {
  background-color: #fff0bb;
  padding: 4px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.status-approved {
  background-color: #daf6d3;
  padding: 4px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.status-banned {
  background-color: #8f8f8f;
  padding: 4px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.status-rejected {
  background-color: #ffcdcd;
  padding: 4px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
