:host {
    display: block;
}

.best-for-you-section {
    background-color: white;
    padding: 24px;
}

.best-for-you-section h2 {
    text-align: center;
    color: #A54C20;
    font-size: 36px;
    font-family: Inter;
    font-weight: 700;
}

p {
    margin: 0;
}

.item-address {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}

.item-address span {
    display: inline-flex;
    gap: 8px;
}

.item-address span i {
    display: flex;
    align-items: center;
}