<section class="best-for-you-section">
    <h2>
        BEST FOR YOU
    </h2>
    <div class="top-rate-container d-flex justify-content-between">
        <div class="top-rate-item col">
            <app-carousel></app-carousel>
            <p class="item-address">
                Thu Duc District - HCM City
                <span>
                    <i class="bi bi-star-fill"></i>
                    5 (42)
                </span>
            </p>
            <p class="item-owner">
                Owner: Nguyen Van A
            </p>
            <p class="item-price">
                Price: $15/day
            </p>
        </div>
    </div>
</section>