:host {
    display: block;
}

.best-for-you-section {
    font-family: 'Raleway', sans-serif; 
    background-color: white;
    padding-left: 120px;
    padding-right: 120px;
    padding-top:40px;
    padding-bottom:40px;

}
.best-for-you-section h2 {
    text-align: center;
    color: #A54C20;
    font-size: 30px;
    font-family: 'Raleway', sans-serif; 
    font-weight:bolder;
    padding-bottom:20px;
}

p {
    margin: 0;
}

.item-address {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    font-weight:bolder;
}

.item-address span {
    display: inline-flex;
    gap: 8px;
}

.item-address span i {
    display: flex;
    align-items: center;
}
.item-price{
    font-weight:bolder;
}