<div class="renter-home-service">
    <div class="div">
      <div class="overlap">
        <div class="text-wrapper">Homepage</div>
        <img class="mask-group" src="img/mask-group.png" />
        <div class="text-wrapper-2">Home Service</div>
      </div>
      <p class="p">Why Should You Collaborate With Us?</p>
      <div class="text-wrapper-3">FOX CLEAN</div>
      <p class="text-wrapper-4">Your comfort is our top priority!</p>
      <p class="couldn-t-find-your">
        Couldn't find your business within the categories above? Simply want to have a chat with our team? Or
        would you prefer to send a partnership proposal immediately? Send your inquiries to:
      </p>
      <div class="overlap-group">
        <div class="text-wrapper-5">Google Indonesia Play Store</div>
      </div>
      <div class="overlap-2">
        <p class="shortlist-best-local">Shortlist, Best Local Apps 2015 &amp; 2016</p>
      </div>
      <div class="text-wrapper-6"> Vietnam E-commerce Awards</div>
      <div class="text-wrapper-7">Double platinum winner</div>
      <div class="text-wrapper-8">Millennials first choice</div>
      <p class="text-wrapper-9">Hotels and Flight bookings category</p>
      <div class="group">
        <div> <img src="img/clean4u.jpg" width="270px" height="280px" class="frame-best"/> </div>
        <div class="best">
          <div class="overlap-group-2">
            <div class="text-wrapper-10">Clean4u</div>
            <div class="text-wrapper-11">5 (26)</div>
            <img class="star" src="img/star-1.svg" />
          </div>
          <div class="text-wrapper-12">$10/hour</div>
        </div>
      </div>
      <div class="group-2">
        <div> <img src="img/pvn.png" width="270px" height="280px" class="frame-best"/></div>
        <div class="best">
          <div class="overlap-group-2">
            <p class="text-wrapper-10">bTaskee</p>
            <div class="text-wrapper-11">5 (42)</div>
            <img class="star" src="img/star-1.svg" />
          </div>
          <div class="text-wrapper-12">$15/day</div>
        </div>
      </div>
      <div class="group-3">
        <div><img src="img/jupviec.jpg" width="270px" height="280px" class="frame-best"/> </div>
        <div class="best">
          <div class="overlap-group-2">
            <p class="text-wrapper-10">Thu Duc District - HCM City</p>
            <div class="text-wrapper-11">5 (42)</div>
            <img class="star" src="img/star-1.svg" />
          </div>
          <div class="text-wrapper-12">$15/day</div>
        </div>
      </div>
      <div class="group-4">
        <div> <img src="img/btaskee.png" width="270px" height="280px" class="frame-best"/></div>
        <div class="best">
          <div class="overlap-group-2">
            <p class="text-wrapper-10">Thu Duc District - HCM City</p>
            <div class="text-wrapper-11">5 (42)</div>
            <img class="star" src="img/star-1.svg" />
          </div>
          <div class="text-wrapper-12">$15/day</div>
        </div>
      </div>
      <div class="text-wrapper-13">FOX FIX</div>
      <div class="text-wrapper-14">Our Achievements</div>
      <div class="text-wrapper-15">Got any questions?</div>
      <div class="text-wrapper-16">foxhubvn@gmail.com</div>
      <p class="text-wrapper-17">Your comfort is our top priority!</p>
      <div class="group-5">
        <div><img src="img/fixhome.jpg" width="270px" height="280px" class="frame-best"/></div>
        <div class="best">
          <div class="overlap-group-2">
            <div class="text-wrapper-10">Clean4u</div>
            <div class="text-wrapper-11">5 (26)</div>
            <img class="star" src="img/star-1.svg" />
          </div>
          <div class="text-wrapper-12">$10/hour</div>
        </div>
      </div>
      <div class="group-6">
        <div><img src="img/masterhome.jpg" width="270px" height="280px" class="frame-best"/></div>
        <div class="best">
          <div class="overlap-group-2">
            <p class="text-wrapper-10">Thu Duc District - HCM City</p>
            <div class="text-wrapper-11">5 (42)</div>
            <img class="star" src="img/star-1.svg" />
          </div>
          <div class="text-wrapper-12">$15/day</div>
        </div>
      </div>
      <div class="group-7">
        <div><img src="img/nhaxanh.jpg" width="270px" height="280px" class="frame-best"/></div>
        <div class="best">
          <div class="overlap-group-2">
            <p class="text-wrapper-10">Thu Duc District - HCM City</p>
            <div class="text-wrapper-11">5 (42)</div>
            <img class="star" src="img/star-1.svg" />
          </div>
          <div class="text-wrapper-12">$15/day</div>
        </div>
      </div>
      <div class="rectangle-wrapper"><div class="rectangle"><img src="img/logovecom.png" width="180px" height="180px"/></div></div></div>
      <div class="div-wrapper"><div class="rectangle"><img src="img/playstore.webp" width="100px" height="100px"/></div></div>
      <div class="overlap-3"><div class="rectangle"><img src="img/warta.webp" width="150px" height="100px"/></div></div>
      <img class="icon-envelope" src="img/icon-envelope.png" />
      <div> <img src="img/collab.jpg" height="100%" class="rectangle-2"/> </div>
      <div> <img src="img/earth.jpg" width="150px" height="150px" class="rectangle-3"/> </div>
      <div><img src="img/shakehand.jpg" width="150px" height="150px" class="rectangle-4"/></div>
    </div>
  </div>
