@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:400,700");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

.renter-home-service {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .renter-home-service .div {
    background-color: #ffffff;
    width: 1520px;
    height: 3030px;
    position: relative;
  }
  
  .renter-home-service .overlap {
    position: absolute;
    width: 274px;
    height: 47px;
    top: 34px;
    left: 40px;
  }
  
  .renter-home-service .text-wrapper {
    position: absolute;
    width: 108px;
    top: 11px;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #d1d1d1;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .renter-home-service .mask-group {
    position: absolute;
    width: 30px;
    height: 47px;
    top: 0;
    left: 101px;
  }
  
  .renter-home-service .text-wrapper-2 {
    position: absolute;
    width: 145px;
    top: 11px;
    left: 129px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #d1d1d1;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .renter-home-service .p {
    position: absolute;
    width: 452px;
    top: 2135px;
    left: 47px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #bf6326;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .renter-home-service .text-wrapper-3 {
    position: absolute;
    width: 362px;
    top: 92px;
    left: 40px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #bf6326;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .renter-home-service .text-wrapper-4 {
    position: absolute;
    top: 156px;
    left: 40px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #0000004c;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .renter-home-service .couldn-t-find-your {
    position: absolute;
    top: 2798px;
    left: 50px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000b2;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 35px;
  }
  
  .renter-home-service .overlap-group {
    position: absolute;
    width: 274px;
    height: 24px;
    top: 1566px;
    left: 623px;
  }
  
  .renter-home-service .text-wrapper-5 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .renter-home-service .overlap-2 {
    position: absolute;
    width: 366px;
    height: 24px;
    top: 1599px;
    left: 587px;
  }
  
  .renter-home-service .shortlist-best-local {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #00000099;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .renter-home-service .text-wrapper-6 {
    position: absolute;
    top: 1566px;
    left: 108px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .renter-home-service .text-wrapper-7 {
    position: absolute;
    top: 1599px;
    left: 144px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #00000099;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .renter-home-service .text-wrapper-8 {
    position: absolute;
    top: 1566px;
    left: 1172px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .renter-home-service .text-wrapper-9 {
    position: absolute;
    top: 1599px;
    left: 1095px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #00000099;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .renter-home-service .group {
    top: 216px;
    left: 36px;
    position: absolute;
    width: 305px;
    height: 356px;
    background-color: #f1f1f1;
    border-radius: 16px;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .renter-home-service .group:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Thêm shadow khi hover */
    transition: box-shadow 0.3s ease; /* Thêm hiệu ứng transition cho smoothness */
  }
  
  .renter-home-service .frame-best {
    position: absolute;
    width: 267px;
    height: 277px;
    top: 14px;
    left: 19px;
    background-color: #d9d9d9;
    border-radius: 15px;
    cursor: pointer;
    transition: all 2s ease-in-out;
  }
  
  .renter-home-service .best {
    position: absolute;
    width: 274px;
    height: 39px;
    top: 302px;
    left: 16px;
  }
  
  .renter-home-service .overlap-group-2 {
    position: absolute;
    width: 268px;
    height: 17px;
    top: 0;
    left: 0;
  }
  
  .renter-home-service .text-wrapper-10 {
    position: absolute;
    width: 263px;
    top: 0;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .renter-home-service .text-wrapper-11 {
    position: absolute;
    width: 36px;
    top: 1px;
    left: 232px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .renter-home-service .star {
    position: absolute;
    width: 15px;
    height: 14px;
    top: 1px;
    left: 215px;
  }
  
  .renter-home-service .text-wrapper-12 {
    position: absolute;
    width: 72px;
    top: 20px;
    left: 3px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .renter-home-service .group-2 {
    top: 216px;
    left: 1182px;
    position: absolute;
    width: 305px;
    height: 356px;
    background-color: #f1f1f1;
    border-radius: 16px;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .renter-home-service .group-2:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Thêm shadow khi hover */
    transition: box-shadow 0.3s ease; /* Thêm hiệu ứng transition cho smoothness */
  }
  
  
  .renter-home-service .group-3 {
    top: 216px;
    left: 800px;
    position: absolute;
    width: 305px;
    height: 356px;
    background-color: #f1f1f1;
    border-radius: 16px;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .renter-home-service .group-3:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Thêm shadow khi hover */
    transition: box-shadow 0.3s ease; /* Thêm hiệu ứng transition cho smoothness */
  }
  
  .renter-home-service .group-4 {
    top: 216px;
    left: 418px;
    position: absolute;
    width: 305px;
    height: 356px;
    background-color: #f1f1f1;
    border-radius: 16px;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .renter-home-service .group-4:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Thêm shadow khi hover */
    transition: box-shadow 0.3s ease; /* Thêm hiệu ứng transition cho smoothness */
  }
  
  .renter-home-service .text-wrapper-13 {
    position: absolute;
    width: 362px;
    top: 642px;
    left: 38px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #bf6326;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .renter-home-service .text-wrapper-14 {
    position: absolute;
    width: 473px;
    top: 1185px;
    left: 40px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #bf6326;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .renter-home-service .text-wrapper-15 {
    position: absolute;
    width: 473px;
    top: 2726px;
    left: 50px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #bf6326;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .renter-home-service .text-wrapper-16 {
    position: absolute;
    width: 473px;
    top: 2903px;
    left: 109px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #bf6326;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .renter-home-service .text-wrapper-17 {
    position: absolute;
    top: 706px;
    left: 38px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #0000004c;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .renter-home-service .group-5 {
    top: 766px;
    left: 34px;
    position: absolute;
    width: 305px;
    height: 356px;
    background-color: #f1f1f1;
    border-radius: 16px;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .renter-home-service .group-5:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Thêm shadow khi hover */
    transition: box-shadow 0.3s ease; /* Thêm hiệu ứng transition cho smoothness */
  }
  
  .renter-home-service .group-6 {
    top: 766px;
    left: 798px;
    position: absolute;
    width: 305px;
    height: 356px;
    background-color: #f1f1f1;
    border-radius: 16px;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .renter-home-service .group-6:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Thêm shadow khi hover */
    transition: box-shadow 0.3s ease; /* Thêm hiệu ứng transition cho smoothness */
  }
  
  .renter-home-service .group-7 {
    top: 766px;
    left: 416px;
    position: absolute;
    width: 305px;
    height: 356px;
    background-color: #f1f1f1;
    border-radius: 16px;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .renter-home-service .group-7:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Thêm shadow khi hover */
    transition: box-shadow 0.3s ease; /* Thêm hiệu ứng transition cho smoothness */
  }
  
  .renter-home-service .rectangle-wrapper {
    position: absolute;
    width: 388px;
    height: 264px;
    top: 1284px;
    left: 53px;
    background-color: #f1f1f1;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .renter-home-service .rectangle {
    position: relative;
    width: 349px;
    height: 228px;
    top: 18px;
    left: 19px;
    background-color: #ffffff;
    text-align: center;
  }
  
  .renter-home-service .div-wrapper {
    position: absolute;
    width: 388px;
    height: 264px;
    top: 1284px;
    left: 564px;
    background-color: #f1f1f1;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .renter-home-service .overlap-3 {
    position: absolute;
    width: 388px;
    height: 264px;
    top: 1284px;
    left: 1076px;
    background-color: #f1f1f1;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .renter-home-service .icon-envelope {
    position: absolute;
    width: 44px;
    height: 44px;
    top: 2904px;
    left: 50px;
  }
  
  .renter-home-service .rectangle-2 {
    position: absolute;
    width: 902px;
    height: 422px;
    top: 1774px;
    left: 564px;
    background-color: #d9d9d9;
    border-radius: 22px;
  }
  
  .renter-home-service .rectangle-3 {
    position: absolute;
    width: 439px;
    height: 421px;
    top: 2221px;
    left: 564px;
    background-color: #d9d9d9;
    border-radius: 22px;
  }
  
  .renter-home-service .rectangle-4 {
    position: absolute;
    width: 439px;
    height: 421px;
    top: 2221px;
    left: 1027px;
    background-color: #d9d9d9;
    border-radius: 22px;
  }
  
  
  