<div class="wrapper">
    <div class="header">
        <app-header></app-header>
    </div>

    <div class="contain-holder">
        <div class="box">
            <div class="text-box">
                <div class="step">Step 2</div>
                <div class="title">Make your accommodation stand out</div>
                <div>In this step, you will add some of the amenities offered at your accommodation, along with 5 or
                    more photos. You'll then compose a title and description.</div>
            </div>
            <img src="assets/images/owner-form/mascot2.png" alt="">
        </div>
    </div>

    <div>
        <div>
            <app-footer-step-two></app-footer-step-two>
        </div>
        <div class="btn-wrapper">
            <button class="back-btn" routerLink="/owner/post/add/step1-3">Back</button>
            <button class="next-btn" routerLink="/owner/post/add/step2-2">Continue</button>
        </div>
    </div>
</div>