
<div class="history-detail-container">
    <div class="zoom-wrapper">
      <img src="img/room.jpg" alt="Forest" />
    </div>
    <div class="info">
      <div class="div-text">
        <p class="text-bold" style="width: 70%;">A room in a department</p>
        <div class="text-bold">$10</div>
      </div>
      <div class="div-text">
        <div class="icon"><img class="icon-detail" src="img/icon-calendar.png" /></div>
        <p class="text-regular">24 Nov 2023 - 27 Nov 2023, UTC+07:00</p>
      </div>

      <div class="div-text">
        <div class="icon"><img class="icon-detail" src="img/icon-user.png" /></div>
        <div class="text-regular">1 person</div>
      </div>

      <div class="div-text">
        <div class="icon"><img class="icon-avatar" src="img/avatar.png" /></div>
        <div class="text-owner">Truc Quynh</div>
        <div class="rating">
          <div class="frame-rating">
            <span class="text-regular">4.5</span>
            <img class="icon-star" src="img/icon-star.png" />
          </div>
        </div>
      </div>

      <div class="div-text">
        <div class="icon"><img class="icon-detail" src="img/green.png" /></div>
        <div class="frame-status">
          <span class="text-regular">Status:</span>
          <span class="text-regular">active</span>
        </div>
      </div>
    </div>
  </div>