<div class="contain-cover">

  <div class="nav-bar">
      <img src="assets/images/arrow-back.png" alt="" class="img-nav">
      Back
  </div>

  <div class="group">
      <div class="title">A room in apartment</div>
      <div class="div-info">

          <div class="div-detail">

              <div class="content">
                  <div class="item">
                      <img src="assets/icons/calendar.png" alt="" class="item-icon">
                      <div>Check in</div>
                  </div>
                  <div>24 Nov 2023</div>
              </div>
              <div class="content">
                  <div class="item">
                      <img src="assets/icons/calendar.png" alt="" class="item-icon">
                      <div>Check out</div>
                  </div>
                  <div>27 Nov 2023</div>
              </div>
              <div class="content">
                  <div class="item">
                      <img src="assets/icons/user.png" alt="" class="item-icon">
                      <div>Guest</div>
                  </div>
                  <div>1</div>
              </div>
              <div class="content">
                  <div class="item">
                      <img src="assets/images/avatar.png" alt="" class="item-icon">
                      <div>Owner</div>
                  </div>
                  <div class="item-bold">Truc Quynh</div>
              </div>
              <hr>
              <div class="div-detail"></div>
              <div class="content">
                  <div class="item">
                      <div class="item-bold">ReservationID</div>
                  </div>
                  <div>#1234567890</div>
              </div>
              <div class="content">
                  <div class="item">
                      <div>Fees</div>
                  </div>
                  <div>$30</div>
              </div>
              <div class="content">
                  <div class="item">
                      <div>Service fees</div>
                  </div>
                  <div>$10</div>
              </div>
              <div class="content">
                  <div class="item">
                      <div class="item-bold">Total</div>
                  </div>
                  <div>$35</div>
              </div>
          </div>
          <div class="img-room">
              <div id="carouselExampleIndicators" class="carousel slide">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="assets/mock/h1.jpg" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="assets/mock/h2.jpg" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="assets/mock/h3.jpg" alt="...">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
          </div>
      </div>
  </div>

  <div class="divider">
      <div class=""></div>
  </div>
</div>