* { 
    font-family: "Raleway", sans-serif; 
} 
 
.contain-cover { 
    display: inline-flex; 
    flex-direction: column; 
    width: 100%; 
    padding: 20px 60px; 
} 
 
.img-nav { 
    width: 50px; 
    height: 50px; 
} 
 
.nav-bar { 
    width: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
} 
.group { 
    display: flex; 
    flex-direction: column; 
    padding: 0px 60px; 
        width: 100%; 
} 
 
.div-info { 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between; 
} 
 
.div-detail { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start; 
    width: 50%; 
} 
 
.title { 
    width: 100%; 
    font-weight: bold; 
    color: #000000; 
    font-size: 30px; 
    font-family: "Raleway", sans-serif; 
    line-height: normal; 
    white-space: nowrap; 
    padding: 10px 0px; 
} 
 
.content { 
    width: 100%; 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between; 
    padding: 20px 0px; 
    font-size: 20px; 
} 
 
.item { 
    width: fit-content; 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: flex-start; 
    gap: 20px 
} 
 
.item-icon { 
    width: 30px 
} 
 
.item-bold { 
    font-weight: bold; 
    font-size: 20px; 
} 
 
hr { 
    border: 0.5px solid #bf6326; 
    width: 100%; 
} 
 
.img-room{ 
    width: 46%; 
    object-fit: cover; 
    border: 30px; 
} 
 
.carousel-inner { 
    height: 600px; 
    border-radius: 40px; 
} 
 
.carousel-control-next, .carousel-control-prev {
    width: auto;
}