<header>
    <div>
    <img class="logo" src="/Form/rav (7).png" alt="Logo">
  </div>
  
  <div class="buttons">
    <button onclick="location.href='/login'">Log In</button>
    <button onclick="location.href='/signup'">Sign Up</button>
  </div>
  </header>
  
  <div>
    <img src="/Form/image-30.png">
  </div>
  <div id="form-container">
    <h2>Create New Account</h2>
    
    <table border="0">
      <form action="/submit_registration" method="post">
        <div class="container">
          <hr>
          <tr>
            <td>
              <label for="uname"><b>First Name</b></label>
            </td>
            <td>
              <input type="text" placeholder="Enter First Name" name="uname" required>
            </td>
            <td><label for="lname"><b>Last Name</b></label></td>
            <td><input type="text" placeholder="Enter Last Name" name="lname" required></td>
          </tr>
          <tr>
            <td><label for="email"><b>Email</b></label></td>
            <td><input type="email" placeholder="Enter Email" name="email" required></td>
          </tr>
          <tr>
            <td><label for="country"><b>Country</b></label></td>
            <td><input type="text" placeholder="Enter Country" name="country" required></td>
            <td><label for="tel"><b>Number</b></label></td>
            <td><input type="tel" placeholder="Enter Number" name="tel" required></td>
          </tr>
          <tr>
            <td><label for="psw"><b>Password</b></label></td>
            <td>
              <input id="password" type="password" placeholder="Enter Password" name="psw" required oninput="validatePassword()">
              <div id="password-message" class="password-message"></div>
            </td>
          </tr>
          <tr>
            <td colspan="4">
              <div class="checkbox-container">
                <input type="checkbox" id="policy" name="policy" required>
                <label for="policy" class="checkbox-label">I agree with policy</label>
              </div>
            </td>
          </tr>
          <tr>
            <td style="text-align: center" colspan="4">
              <button  type="submit">Submit</button>
            </td>
          </tr>
        </div>
      </form>
    </table>
  </div>

