<div class="contain-cover">

    <div class="bar">
      <div class="search">
        <div class="search-bar">
          <input type="text" placeholder="Search post by ID" class="input-search">
          <hr class="hr-vertical">
          <img src="assets/icons/search.png" alt="no img" class="search-icon">
        </div>
        <div class="filter">
  
          <button class="filter-btn">
            <img src="assets/icons/filter.png" alt="no img" class="filter-icon">
            Filter</button>
          <div class="filter-content">
            <div class="filter-item">
              <div class="filter-item-vertical">
                <div class="item-name">Available</div>
                <div class="filter-item-horizontal">
                  <input type="checkbox" name="available" value="Yes" id="Yes" class="input-checkbox">
                  <label for="Yes">Yes</label>
                  <input type="checkbox" name="available" value="No" id="No" class="input-checkbox">
                  <label for="No">No</label>
                </div>
              </div>
            </div>
            <hr>
            <div class="filter-item-vertical">
              <div class="item-name">Status</div>
              <div class="status-item">
                <div class="status" data-status="Approved">
                  <input type="checkbox" name="status" id="Approved" class="input-checkbox">
                  <label for="Approved">Approved</label>
                </div>
                <div class="status" data-status="Pending">
                  <input type="checkbox" name="status" id="Pending" class="input-checkbox">
                  <label for="Pending">Pending</label>
                </div>
                <div class="status" data-status="Rejected">
                  <input type="checkbox" name="status" id="Rejected" class="input-checkbox">
                  <label for="Rejected">Rejected</label>
                </div>
                <div class="status" data-status="Banned">
                  <input type="checkbox" name="status" id="Banned" class="input-checkbox">
                  <label for="Banned">Banned</label>
                </div>
              </div>
            </div>
            <hr>
            <div class="filter-item">
              <div class="filter-item-vertical">
                <div class="item-name">Rental Period</div>
                <div class="filter-item-horizontal">
                  <label for="From">From</label>
                  <input type="date" name="Period" id="From">
                  <label for="To">To</label>
                  <input type="date" name="Period" id="To">
                </div>
              </div>
            </div>
            <div class="item-submit">
              <button class="submit-btn">Done</button>
            </div>
          </div>
  
        </div>
      </div>
      <a href=""><button class="add-post">
          + Add Post
        </button></a>
    </div>
  
    <div class="box">
      <img src="assets/mock/h1.jpg" alt="" class="img-first">
      <div class="img-more">
        <img src="assets/mock/h2.jpg" alt="" class="img-second">
        <div class="img-overlay">
          <img src="assets/mock/h2.jpg" alt="" class="img-third">
          <div class="img-text">
            <p>+</p>
            <p>1</p>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="item">
          <span class="item-name">ID:</span>
          <span>FH090303</span>
        </div>
        <div class="item">
          <span class="item-name">Address:</span>
          <span>11 Nguyen Huu Tien, Da Lat, VietNam</span>
        </div>
        <div class="item">
          <span class="item-name">Date Apply:</span>
          <span>03/10/2023</span>
        </div>
        <div class="item">
          <span class="item-name">Status:</span>
          <span class="status" data-status="Approved">Approved</span>
        </div>
        <div class="item">
          <span class="item-name">Available:</span>
          <span>No</span>
        </div>
        <div class="item">
          <span class="item-name">Information’s renter:</span>
          <span class="renter-name">Renter Name</span>
        </div>
        <div class="item">
          <span class="item-name">Rental period:</span>
          <span>08/11/2023</span>
          <span>-</span>
          <span>12/11/2023</span>
        </div>
      </div>
    </div>
  
  </div>