:host {
    width: 100%;
}

.navbar-container {
    background-color: #F5EEE8;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 68px;
    width: 100%;
}

.navbar-container img {
    max-height: 68px;
}

.navbar-container .nav-link {
    color: #CD5C08;
    font-size: 16px;
    font-weight: 700;
    vertical-align: middle;
}

.navbar-container .btn-group {
    gap: 12px;
}

.navbar-container .btn-group .btn {
    border-radius: 16px !important;
}

.navbar-container .btn-group .log-in {
    color: white;
    background-color: #CD5C08;
    padding: 8px 28px;
}

.navbar-container .action-group {
    width: 220px;
    display: flex;
    justify-content: center;
}

.navbar-container .btn-group .sign-up {
    background-color: transparent !important;
    padding: 8px 24px;
    border: 1px solid#CD5C08;
    color: #CD5C08
}

.avatar {
    background-color: transparent;
    border: 0;
}

.avatar img {
    border: none;
}

.setting-option button:hover {
    background-color: gray;
}

.activated-tab {
    background-color: #dfa686;
    border-radius: 4px;
}