<div class="navbar-container">
    <a [routerLink]="['/renter/home']">
        <img src="assets/images/logo.jpg">
    </a>
    <nav class="nav">
        <a class="nav-link" href="#">FoxHub’s Story</a>
        <a class="nav-link" href="#">Reservation</a>
        <a class="nav-link" href="#">Home Service</a>
        <a class="nav-link" href="#">Blog</a>
    </nav>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn log-in" (click)="openLogInModal()">Login</button>
        <button type="button" class="btn sign-up" (click)="openSignUpModal()">Sign up</button>
    </div>
</div>