<div class="wrapper">
    <div class="header">
        <app-header></app-header>
    </div>
    
    <div class="contain-holder">
        <div class="box">
            <div class="text-box">
                <div class="step">Step 1</div>
                <div class="title">Share your accommodation information with us</div>
                <div>In this step, we'll ask what kind of accommodation you're renting out and whether you'd like guests to
                    book the entire house or just a specific room. Then let us know the location and number of guests who
                    can stay there.</div>
            </div>
                <img src="assets/images/owner-form/mascot1.png" alt="">
        </div>
    </div>

    <div>
        <div>
            <app-footer-step-one></app-footer-step-one>
        </div>
        <div class="btn-wrapper">
            <button class="back-btn" routerLink="/owner/home">Back</button>
            <button class="next-btn" routerLink="/owner/post/add/step1-2">Continue</button>
        </div>
    </div>
</div>    
    


