:host {
    height: 32%;
}

:host:hover {
    cursor: pointer;
}

p {
    font-family: "Raleway", sans-serif;
    margin: 0;
}

.icon {
    width: 16px;
    height: 16px;
}

.history-item {
    border-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px #E3E3E3 solid;
    width: 100%;
    height: 100%;
}

.house-thumbnail {
    max-height: 100%
}

.house-thumbnail img {
    max-height: inherit;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.item-detail {
    padding: 12px 16px;
    width: 100%;
}

.item-detail-part {
    display: flex;
    align-items: center;
    gap: 12px
}

.reservation-id {
    justify-content: space-between;
}

.status-icon {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}