<div class="d-flex history-item">
    <span class="house-thumbnail">
        <img src="assets/mock/h1.jpg">
    </span>
    <div class="d-flex flex-column justify-content-between item-detail">
        <div class="reservation-id item-detail-part">
            <p><b>Reservation ID</b></p>
            <p><b>{{reservation?.id}}</b></p>
        </div>
        <div class="item-detail-part">
            <img src="assets/icons/calendar.png" class="icon">
            <p>
                {{formatDate(reservation?.checkIn) + ' - ' +formatDate(reservation?.checkOut)}}
            </p>
        </div>
        <div class="item-detail-part">
            <img src="assets/icons/user.png" class="icon">
            <p>
                {{(reservation?.numberOfAdult || 0) + (reservation?.numberOfChildren || 0)}} person
            </p>
        </div>
        <div class="item-detail-part">
            <span class="status-icon" style="background-color: green;">
            </span>
            <p>
                Status: {{getStatusTitle(reservation?.checkIn, reservation?.checkOut, reservation?.status)}}
            </p>
        </div>
    </div>
</div>