:host {
    width: 100%;
    background-color: white !important;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 24px;
}

a {
    width: 100%;
    text-align: center;
    text-decoration: underline;
    color: rgb(159, 159, 159);
    font-family: "Raleway", sans-serif;
    font-size: 24px;
}
.container-fluid{
    padding: 20px 100px  !important;
}