<app-accommodation-type-option></app-accommodation-type-option>
<div class="container-fluid">
    <div class="row row-cols-4 g-4">
        <app-accommodation-item></app-accommodation-item>
        <app-accommodation-item></app-accommodation-item>
        <app-accommodation-item></app-accommodation-item>
        <app-accommodation-item></app-accommodation-item>
        <app-accommodation-item></app-accommodation-item>
        <app-accommodation-item></app-accommodation-item>
        <app-accommodation-item></app-accommodation-item>
        <app-accommodation-item></app-accommodation-item>
    </div>
</div>
<!-- TODO: Update link to accommodation list later -->
<a [routerLink]="['']">
    Show more
</a>