:host {
    width: 100%;
    background-color: white !important;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 24px;
}

a {
    width: 100%;
    text-align: center;
    text-decoration: underline;
    color: rgb(159, 159, 159);
    font-size: 24px;
    font-family: 'Raleway', sans-serif; 
}
.container-fluid{
    padding-left: 120px;
    padding-right: 120px;
    padding-top:40px;
    padding-bottom:40px;
}
.style-type{
    padding-top:20px;
}