<div class="wrapper">
    <div class="header">
        <app-header></app-header>
    </div>

    <div class="contain-holder">
        <div class="title">Now, give the description </div>
        <div class="sub-title">Don’t worry. You always can edit</div>
        <textarea name="" id=""></textarea>
    </div>

    <div>
        <div>
            <app-footer-step-two></app-footer-step-two>
        </div>
        <div class="btn-wrapper">
            <button class="back-btn" routerLink="/owner/post/add/step2-3">Back</button>
            <button class="next-btn" routerLink="/owner/post/add/step3-1">Continue</button>
        </div>
    </div>
</div>