<div class="container">

    <div class="back-btn" routerLink="/owner/home">
        <img src="assets/icons/sidebar-back.png" alt="">
        <div>Back</div>
    </div>

    <div class="row">
        <div class="col">
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="http://dummyimage.com/205x100.png/cc0000/ffffff" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="http://dummyimage.com/139x100.png/5fa2dd/ffffff" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="http://dummyimage.com/192x100.png/cc0000/ffffff" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
        <div class="col">
            <iframe class="map" width="100%" height="300" frameborder="0" scrolling="no" marginheight="0"
            marginwidth="0" src="https://www.google.com/maps/embed">
        </iframe>
        </div>
      </div>

      <div class="row">
        <div class="col">
            Quisque porta volutpat erat. Quisque erat eros, viverra eget, congue eget, semper rutrum, nulla. Nunc purus.\n\nPhasellus in felis. Donec semper sapien a libero. Nam dui.\n\nProin leo odio, porttitor id, consequat in, consequat ut, nulla. Sed accumsan felis. Ut at dolor quis odio consequat varius.\n\nInteger ac leo. Pellentesque ultrices mattis odio. Donec vitae nisi.\n\nNam ultrices, libero non mattis pulvinar, nulla pede ullamcorper augue, a suscipit nulla elit ac nulla. Sed vel enim sit amet nunc viverra dapibus. Nulla suscipit ligula in lacus.\n\nCurabitur at ipsum ac tellus semper interdum. Mauris ullamcorper purus sit amet nulla. Quisque arcu libero, rutrum ac, lobortis vel, dapibus at, diam.
        </div>
        <div class="col" style="text-align: center;">
            <div class="status">
                APPROVED
            </div>
        </div> 
      </div>
      
    <div>
        <div class="title">What this has for you</div>
        <div class="row">
            <div class="col">
                <ul>
                    <li>Wi-Fi</li>
                    <li>Parking Swimming pool</li>
                    <li>Gym</li>
                    <li>Air conditioning</li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li>Elevator</li>
                    <li>BBQ area</li>
                    <li>TV</li>
                </ul>
            </div>
    </div>
    <div>
        <div class="title">Good to know</div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="sub-title">
                        House rules
                        </div>
                        <div>
                            Check-in: 14:00 - 22:00
                        </div>
                        <div>
                            Check-out is before 12:00
                        </div>
                </div>
                <div class="col-sm-5">
                    <div class="sub-title">
                        Safety and Shelter
                        </div>
                        <div>
                            There is no information yer on whether ther is a CO detector
                        </div>
                        <div>
                            There is no information yer on whether ther are smoke detectors
                        </div>
                        <div>
                            Security Cameras/Recording Devices
                        </div>
                </div>
                <div class="col-sm-5">
                    <div class="sub-title">
                        Cancellation Policy
                        </div>
                        <div>
                            A partial refund will be issed if canceled prior to check-in at Dec 2
                        </div>
                        <div>
                            Read the full cancellation policy of the Host that applies even if you cancel due ti illness
                        </div>
                </div>
              </div>
        </div>
    </div>
</div>