header {
    min-height: 700px;
    background-image: linear-gradient(to right,
            rgba(205, 92, 8, 0.3),
            rgba(205, 92, 8, 0.1)),
        url(src/assets/images/renter-header.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 72px;
    border-bottom-right-radius: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h1 {
    color: white;
    font-size: 80px;
    font-family: 'Raleway', sans-serif; 
    font-weight: 900;
    text-align: center;
}

.filter {
    margin-bottom: 40px;
}

.filter .btn {
    background-color: #F3ECE6;
    color: #BF6326;
    padding: 8px 36px;
    border-radius: 30px;
    font-family: 'Raleway', sans-serif; 
}
.btn-group {
    width: fit-content !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    border: none !important;
    border-radius: 30px !important;
    background-color: #F3ECE6;
}

.filter .btn:active {
    background-color: #CD5C08;
    color:white;
    border:none;
}
.filter i {
    display: flex;
    align-items: center;
    color: #BF6326;
    padding: 8px 16px !important;
}
.filter .vertical-divider {
    height: 100%;
    border: 0.1px solid #406567;
}