<h3 class="mb-1 font-weight-bold">Reviews</h3>
<div class="mb-5">
  <span class="mr-20">
    <i class="bi bi-star-fill"></i>
    4.8
  </span>
  <span>42 Reviews</span>
</div>
<div
  class="review-card rounded border border-dark p-3 mb-4"
  *ngFor="let review of reviews"
>
  <div class="row no-gutter mb-2">
    <div class="col-1 custom-col-1">
      <span
        ><img class="rounded-circle" alt="avatar1" src="{{ review.avatar }}"
      /></span>
    </div>
    <div class="col-11">
      <span class="mr-20 font-weight-bold">{{ review.name }}</span>
      <span>{{ review.dateReview }}</span>
      <p class="mb-2">{{ review.address }}</p>
      <span *ngFor="let star of getStars(review.starNumber)"
        ><i class="bi bi-star-fill"></i
      ></span>
      <p class="mb-0 mt-2">
        {{ review.reviewContent }}
      </p>
    </div>
  </div>
</div>
<h5 class="mt-4 show-detail">Show more</h5>
