.title {
    color: #bf6326;
    font-weight: bold;
    font-size: 20px;
    width: fit-content;
}

.about-us-section {
    max-width: 700px;
    color: #000000;
    font-size: 15px;
    text-align: justify;
    line-height: 30px;
}

.landscape-container {
    transition: transform 0.3s ease;
}

.landscape-container:hover {
    transform: scale(1.1);
    z-index: 1;
}

.landscape-container img {
    width: 360px;
    height: 420px;
    border-radius: 0 100px 0 0;
}

.mission-vision {
    background: url(src/assets/images/vn-delta.png) center/cover no-repeat;
    width: 100%;
    background-color: #292E36;
    color: #fff;
    opacity: 0.9;
    padding: 180px 0;
    gap: 40px;
}

.mission,
.vision {
    width: 50%;
}

.mission h3,
.vision h3 {
    font-weight: 600;
    color: #f3ece6;
    font-size: 20px;
    text-align: center;
}

.mission p,
.vision p {
    font-style: italic;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
}

.founder-title {
    margin-bottom: 12px;
    color: #000000;
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    color: #CD5C08
}

.founders .founder {
    width: 18%;
    height: auto;
    transition: transform 0.3s ease;
}

.founders .founder:hover {
    transform: scale(1.1);
    z-index: 1;
}

.founders .founder img {
    max-width: 100%;
}

.founder h4,
.founder p {
    text-align: center;
    margin-bottom: 0;
}

.founder h4 {
    margin-top: 4px;
}