/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

html,
body {
    height: 100%;
}

body {
    font-family: Raleway, sans-serif;
}

.sign-up-modal {
    max-width: 340px !important;
}

.log-in-modal {
    max-width: 380px !important;
}

.edit-time-modal {
    max-width: fit-content !important;
}

.edit-guest-number-modal {
    max-width: 440px !important;
}

.payment-form-modal {
    max-width: 1200px !important;
}