<div class="wrapper">
    <div class="header">
        <app-header></app-header>
    </div>
    
    <div class="contain-holder">
        <div class="box">
            <div class="text-box">
                <div class="step">Step 3</div>
                <div class="title">Finalize and publish</div>
                <div>Finally, you'll choose to start with an experienced guest reception or not, and then you'll set a price by night. Answer a few quick questions and post your rental when you're ready.</div>
            </div>
                <img src="assets/images/owner-form/mascot3.png" alt="">
        </div>
    </div>

    <div>
        <div>
            <app-footer-step-three></app-footer-step-three>
        </div>
        <div class="btn-wrapper">
            <button class="back-btn" routerLink="/owner/post/add/step2-5">Back</button>
            <button class="next-btn" routerLink="/owner/post/add/step3-2">Continue</button>
        </div>
    </div>
</div>    
    


