<app-header-nav-bar></app-header-nav-bar>
<div class="p-4 pb-5">
    <h2>
        LISTING
    </h2>
    <div class="d-flex gap-3">
        <div class="accommodation-list">
            <div class="container-fluid px-0">
                <div class="row row-cols-3 g-3">
                    <div class="col" *ngFor="let accommodation of accommodations">
                        <a [routerLink]="['/renter/accommodation/', accommodation.id]" target="_blank">
                            <div class="card">
                                <img class="thumbnail" [src]="accommodation.imageUrl" alt="Card image cap">
                                <div class="card-content">
                                    <p class="item-address">{{ getAccommodationCity(accommodation.latitude,
                                        accommodation.longitude) }}</p>
                                    <span class="item-rate">
                                        <i class="bi bi-star-fill"></i>
                                        {{ roundRating(accommodation.averageRating) }} ({{ accommodation.totalRating }})
                                    </span>
                                    <p class="item-owner">Owner: {{ accommodation.ownerName}}</p>
                                    <p class="item-price">Price: ${{ accommodation.price }}/day</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="d-flex justify-content-center pagination-container">
                    <ngb-pagination [collectionSize]="totalCount" [pageSize]="pageSize" [(page)]="page" [maxSize]="4"
                        [ellipses]="true" (pageChange)="pageChanged($event)" />
                </div>
            </div>
        </div>
        <iframe class="map" src="https://maps.google.com/maps?q=latitude,longitude&z=15&output=embed" width="100%">
        </iframe>
    </div>
</div>
<app-footer></app-footer>