<div class="modal-header">
    <h3 class="modal-title">Hey, homie</h3>
    <p>Welcome back! Please enter your details</p>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Enter email">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="remember-me">
            <label class="form-check-label" for="remember-me">Remember me</label>
        </div>
        <a href="#">Forgot password?</a>
        <button type="submit" class="btn">Login</button>
        <div class="divider">Or</div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="deleteFashion()">Delete</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
</div>