<div class="heading-clean">Fox Clean</div>
<p class="slogan">Your comfort is our top priority!</p>

<div>
  <div class="clean4u">
    <img src="assets/images/clean4u.jpg" class="frame" />
    <div class="name">Clean4u - Giúp việc tận nơi</div>
    <div class="hour">$10/hour</div>
  </div>
  <div class="btaskee">
    <img src="assets/images/btaskee.png" class="frame" />
    <div class="name">bTaskee</div>
    <div class="hour">$16/day</div>
  </div>
  <div class="jupviec">
    <img src="assets/images/jupviec.jpg" class="frame" />
    <div class="name">JupViec.vn</div>
    <div class="hour">$25/day</div>
  </div>
  <div class="pvn">
    <img src="assets/images/pvn.png" class="frame" />
    <div class="name">Phụ việc nhanh</div>
    <div class="hour">$18/day</div>
  </div>
</div>

<div class="heading-fix">Fox Fix</div>
<p class="slogan">Your comfort is our top priority!</p>

<div class="fixhome">
  <img src="assets/images/fixhome.jpg" class="frame" />
  <div class="name">Fixhome</div>
  <div class="hour">$10/hour</div>
</div>
<div class="nhaxanh">
  <img src="assets/images/nhaxanh.jpg" class="frame" />
  <div class="name">Nhà Xanh</div>
  <div class="hour">$15/day</div>
</div>
<div class="masterhome">
  <img src="assets/images/masterhome.jpg" class="frame" />
  <div class="name">Masterhome - Furniture & Decor</div>
  <div class="hour">$15/day</div>
</div>

<div class="heading-collab">
  Why Should You Collaborate With Us?
  <img src="assets/images/host.png" class="host" />
  <img src="assets/images/tourist.png" class="tourist" />
  <img src="assets/images/partner.png" class="partner" />
</div>

<div class="heading-question"> Got any questions?
  <div class="statement">
    Couldn't find your business within the categories above? Simply want to have
    a chat with our team? Or would you prefer to send a partnership proposal
    immediately? Send your inquiries to:
  </div>
  <img class="icon" src="assets/images/icon-envelope.png" />
  <div class="mail">foxhubvn@gmail.com</div>
</div>
