<app-header-nav-bar></app-header-nav-bar>

<div class="px-5 py-3">
  <div class="d-flex flex-column service-section">
    <div>
      <h2 class="service-section-heading">Fox Clean</h2>
      <p class="service-section-slogan">Your comfort is our top priority!</p>
      <div class="row row-cols-4 service-list">
        <div class="col fox-service-item">
          <a href="https://www.facebook.com/ungdungClean4U" target="_blank">
            <img src="assets/images/clean4u.jpg" class="brand-image" alt="Clean4u - Giúp việc tận nơi" />
            <p class="service-name">Clean4u - Giúp việc tận nơi</p>
            <p class="service-price">$10/hour</p>
          </a>
        </div>
        
        <div class="col fox-service-item">
          <a href="https://www.facebook.com/btaskee" target="_blank">
          <img src="assets/images/btaskee.png" class="brand-image" />
          <p class="service-name">bTaskee</p>
          <p class="service-price">$16/day</p>
        </a>
        </div>
        <div class="col fox-service-item">
          <a href="https://jupviec.vn/" target="_blank">
          <img src="assets/images/jupviec.jpg" class="brand-image" />
          <p class="service-name">JupViec.vn</p>
          <p class="service-price">$25/day</p>
        </a>
        </div>
        <div class="col fox-service-item">
          <a href="https://phuviecnhanh.vn/?fbclid=IwAR0NXTtq3wjcFb-t-0oQ7bs3k3jJLWnz4hMcupeZ7thaHB-mMib8B2wf_38" target="_blank">
          <img src="assets/images/pvn.png" class="brand-image" />
          <p class="service-name">Phụ việc nhanh</p>
          <p class="service-price">$18/day</p>
        </a>
        </div>
      </div>
    </div>

    <div>
      <h2 class="service-section-heading">Fox Fix</h2>
      <p class="service-section-slogan">Your comfort is our top priority!</p>
      <div class="row row-cols-4 service-list">
        <div class="col fox-service-item">
          <a href="https://www.facebook.com/fixhomevietnam" target="_blank">
          <img src="assets/images/fixhome.jpg" class="brand-image" />
          <div class="service-name">Fixhome</div>
          <div class="service-price">$10/service-price</div>
        </a>
        </div>
        <div class="col fox-service-item">
          <a href="https://www.facebook.com/profile.php?id=100095068196932" target="_blank">
          <img src="assets/images/nhaxanh.jpg" class="brand-image" />
          <p class="service-name">Nhà Xanh</p>
          <p class="service-price">$15/day</p>
        </a>
        </div>
        <div class="col fox-service-item">
          <a href="https://www.facebook.com/masterhome.xuongnoithat" target="_blank">
          <img src="assets/images/masterhome.jpg" class="brand-image" />
          <div class="service-name">Masterhome - Furniture & Decor</div>
          <div class="service-price">$15/day</div>
        </a>
        </div>
      </div>
    </div>
  </div>


  <div class="d-flex mt-5 align-items-center">
    <p class="heading-collaborate">
      Why Should You Collaborate With Us?
    </p>

    <div class="container-fluid">
      <div class="row">
        <div class="col host collaborate-item">
          <img src="assets/images/host.png" class="img-fluid rounded" />
        </div>
      </div>
      <div class="row test">
        <div class="col collaborate-item">
          <img src="assets/images/tourist.png" class="img-fluid rounded" />
        </div>
        <div class="col collaborate-item">
          <img src="assets/images/partner.png" class="img-fluid rounded" />
        </div>
      </div>
    </div>
  </div>

  <div class="question-section d-flex flex-column">
    <p>
      Got any questions?
    </p>
    <p class="statement">
      Couldn't find your business within the categories above? Simply want to have
      a chat with our team? Or would you prefer to send a partnership proposal
      immediately? Send your inquiries to:
    </p>
    <div class="foxhub-email-container">
      <img class="icon" src="assets/images/icon-envelope.png" />
      <span class="mail">foxhubvn@gmail.com</span>
    </div>
  </div>
</div>